crewai==0.121.1
edge_tts==7.0.2
fastapi==0.115.12
openai_whisper==20240930
python-dotenv==1.1.0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
streamlit==1.45.1
whisper==1.1.10
python-multipart==0.0.9

